applications:
  app:
    operations:
      purge_all_varnish_cache:
        role: viewer
        commands:
          start: |
            curl -XPURGE $(echo $PLATFORM_ROUTES  | base64 --decode | jq -r 'keys[]' | grep  https | grep -v stats ) -H "X-Magento-Tags-Pattern: .*"
    # https://docs.upsun.com/manage-resources/adjust-resources.html#adjust-a-container-profile
    container_profile: BALANCED
    # The runtime the application uses.
    type: php:8.4
    # Specify additional PHP extensions that should be loaded.
    runtime:
      extensions:
        - xsl
        - sodium
        - blackfire
        - apcu
        - redis
    variables:
      env:
        NVM_VERSION: master
        NODE_VERSION: 20
        #USE VARNISH
        CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__CACHING_APPLICATION: 2
        # Parallel indexing
        MAGE_INDEXER_THREADS_COUNT: 1
        # Use Application Lock
        MAGENTO_DC_INDEXER__USE_APPLICATION_LOCK: true
        # Catalog Inventory Stock
        MAGENTO_INDEXER_BATCH_SIZE__CATALOGINVENTORY_STOCK__SIMPLE: 200
        # Category Product
        MAGENTO_INDEXER_BATCH_SIZE__CATALOG_CATEGORY_PRODUCT: 666
        # Catalog Search Fulltext
        MAGENTO_INDEXER_BATCH_SIZE__CATALOGSEARCH_FULLTEXT__PARTIAL_REINDEX: 100
        MAGENTO_INDEXER_BATCH_SIZE__CATALOGSEARCH_FULLTEXT__MYSQL_GET: 500
        MAGENTO_INDEXER_BATCH_SIZE__CATALOGSEARCH_FULLTEXT__ELASTIC_SAVE: 500
        # Catalog Product Price
        MAGENTO_INDEXER_BATCH_SIZE__CATALOG_PRODUCT_PRICE__SIMPLE: 200
        MAGENTO_INDEXER_BATCH_SIZE__CATALOG_PRODUCT_PRICE__DEFAULT: 500
        MAGENTO_INDEXER_BATCH_SIZE__CATALOG_PRODUCT_PRICE__CONFIGURABLE: 666
        # Catalog Permissions Category
        MAGENTO_INDEXER_BATCH_SIZE__CATALOGPERMISSIONS_CATEGORY: 999
        # Inventory
        MAGENTO_INDEXER_BATCH_SIZE__INVENTORY__SIMPLE: 210
        MAGENTO_INDEXER_BATCH_SIZE__INVENTORY__DEFAULT: 510
        MAGENTO_INDEXER_BATCH_SIZE__INVENTORY__CONFIGURABLE: 616
      php:
        memory_limit: "1024M"
    # Configuration of the build of this application.
    build:
      flavor: none
    # The relationships of the application with services or other applications.
    #
    # The left-hand side is the name of the relationship as it will be exposed
    # to the application in the PLATFORM_RELATIONSHIPS variable. The right-hand
    # side is in the form `<service name>:<endpoint name>`.
    relationships:
      database:
        service: db
        endpoint: main
      #database-slave:
      #  service: db-replica
      #  endpoint: main
      valkey:
        service: cache
        endpoint: valkey
      #valkey-slave: not currently implemented on non HA
      #  service: cache
      #  endpoint: valkey-replica
      valkey-session: session:valkey
      opensearch: indexer:opensearch
      activemq-artemis:
        service: queue
        endpoint: activemq-artemis



    # The 'mounts' describe writable, persistent filesystem mounts in the application.
    mounts:
      "/var":
        source: storage
        source_path: "var"
      "/var/log":
        source: storage # can be instance but you may lose logs during autoscaling
        source_path: "log"
      "/app/etc":
        source: storage
        source_path: "etc"
      "/pub/media":
        source: storage
        source_path: "media"
      "/pub/static":
        source: storage
        source_path: "static"
      "/var/report":
        source: tmp
        source_path: "report"
    # The hooks executed at various points in the lifecycle of the application.
    hooks:
      build: |
        set -e
        #prep node as per https://experienceleague.adobe.com/en/docs/commerce-knowledge-base/kb/how-to/configure-npm-to-be-able-to-use-pwa-studio
        #unset NPM_CONFIG_PREFIX
        #export NVM_DIR="$PLATFORM_APP_DIR/.nvm"
        # install.sh will automatically install NodeJS based on the presence of $NODE_VERSION
        #curl -f -o- https://raw.githubusercontent.com/nvm-sh/nvm/$NVM_VERSION/install.sh | bash
        #[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
        #npm -v
        #nvm install $NODE_VERSION
        #echo 'unset NPM_CONFIG_PREFIX' >> .environment
        #echo 'export NO_UPDATE_NOTIFIER=1' >> .environment
        #echo 'export NVM_DIR="$PLATFORM_APP_DIR/.nvm"' >> .environment
        #echo '[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"' >> .environment
        #wget https://github.com/magento/pwa-studio/archive/refs/tags/v14.3.1.zip
        #unzip v14.3.1.zip
        #mv pwa-studio-* pwa
        #cd pwa
        #npm install --global yarn
        #npm install --global rimraf
        #yarn run build
        #cd ..
        #install php application
        composer install --no-dev --no-interaction
        wget https://raw.githubusercontent.com/magento/magento-cloud/refs/heads/master/.magento.app.yaml
        php ./vendor/bin/ece-tools run scenario/build/generate.xml
        php ./vendor/bin/ece-tools run scenario/build/transfer.xml
        #this is needed to ensure crons run 1 process at a time in the worker container
        sed -i 's/_process>1<\/use_/_process>0<\/use_/g' ${PLATFORM_APP_DIR}/vendor/magento/*/etc/cron_groups.xml
      deploy: |
        php ./vendor/bin/ece-tools run scenario/deploy.xml
      post_deploy: |
        php ./vendor/bin/ece-tools run scenario/post-deploy.xml
    # The configuration of scheduled execution.
    workers:
      queue:
        commands:
          start: |
            bash -c 'for consumername in $(php ./bin/magento queue:consumers:list); do echo -e `date` - Running consumer  ${consumername} ... && bin/magento queue:consumers:start --max-messages=50 ${consumername}; done'
            bash -c 'echo -e `date` - Running cron && bin/magento cron:run'
    crons:
      logrotate:
        spec: "45 1 * * *"
        cmd: shtool rotate -n10 $PLATFORM_APP_DIR/var/log/*.log
      logrotatesubdirs:
        spec: "45 1 * * *"
        cmd: shtool rotate -n10 $PLATFORM_APP_DIR/var/log/*/*.log
      reportcleanup:
        spec: "0 2 * * *"
        cmd: find $PLATFORM_APP_DIR/var/report/* -mtime +10 -delete
    # The configuration of app when it is exposed to the web.
    web:
      locations:
        "/":
          # The public directory of the app, relative to its root.
          root: "pub"
          # The front-controller script to send non-static requests to.
          passthru: "/index.php"
          index:
            - index.php
          #expires: -1
          scripts: true
          allow: false
          rules:
            ? \.(css|js|map|hbs|gif|jpe?g|png|tiff|wbmp|ico|jng|bmp|svgz|midi?|mp?ga|mp2|mp3|m4a|ra|weba|3gpp?|mp4|mpe?g|mpe|ogv|mov|webm|flv|mng|asx|asf|wmv|avi|ogx|swf|jar|ttf|eot|woff|otf|html?)$
            : allow: true
            ^/sitemap(.*)\.xml$:
              passthru: "/media/sitemap$1.xml"
            ^/.well-known/apple-developer-merchantid-domain-association.xml$:
              passthru: "/media/apple-developer-merchantid-domain-association.xml"
            ^/.well-known/apple-developer-merchantid-domain-association.txt$:
              passthru: "/media/apple-developer-merchantid-domain-association.txt"
            ^/loaderio-57b4d7c1bba248849fbf9600292c60b4.txt$:
              passthru: "/media/loaderio-57b4d7c1bba248849fbf9600292c60b4.txt"
        "/media":
          root: "pub/media"
          allow: true
          scripts: false
          expires: 1d
          passthru: "/get.php"
        "/static":
          root: "pub/static"
          allow: true
          scripts: false
          expires: 1d
          passthru: "/front-static.php"
          rules:
            ^/static/version\d+/(?<resource>.*)$:
              passthru: "/static/$resource"
    source:
      root: /
services:
  db:
    type: mariadb:11.4
    configuration:
      properties:
        optimizer_switch: "rowid_filter=off"
        optimizer_use_condition_selectivity: 1
        query_cache_size: 0
        query_cache_type: 0
      schemas:
        - main
      endpoints:
        main:
          default_schema: main
          privileges:
            main: admin
        replicator:
          privileges:
            main: replication
  #db-replica:
  #  type: mariadb-replica:11.4
  #  configuration:
  #    properties:
  #      optimizer_switch: "rowid_filter=off"
  #      optimizer_use_condition_selectivity: 1
  #      query_cache_size: 0
  #      query_cache_type: 0
  #    schemas:
  #      - main
  #    endpoints:
  #      main:
  #        default_schema: main
  #        privileges:
  #          main: admin
  #  relationships:
  #    primary: db:replicator


  cache:
    # https://docs.upsun.com/manage-resources/adjust-resources.html#adjust-a-container-profile
    container_profile: HIGH_MEMORY
    type: valkey:8.0
    configuration:
      maxmemory_policy: allkeys-lru

  session:
    # https://docs.upsun.com/manage-resources/adjust-resources.html#adjust-a-container-profile
    container_profile: HIGH_MEMORY
    type: valkey-persistent:8.0
    configuration:
      maxmemory_policy: allkeys-lru

  indexer:
    type: opensearch:3
    configuration:
      plugins:
        - analysis-phonetic
        - analysis-icu
  queue:
    type: activemq-artemis:2

  varnish:
    type: varnish:7.6
    relationships:
      application: 'app:http'
    configuration:
      vcl: !include
        type: string
        path: varnish.vcl




routes:
  https://{default}/:
    type: upstream
    upstream: varnish:http
    cache:
      enabled: false
  https://{all}/:
    type: upstream
    upstream: varnish:http
    cache:
      enabled: false
  #http for purge
  http://{default}/:
    type: upstream
    upstream: varnish:http
    cache:
      enabled: false
  http://{all}/:
    type: upstream
    upstream: varnish:http
    cache:
      enabled: false
